<app-sidebar></app-sidebar>

<div class="container">
<p *ngIf="StudentData.length <= 0" class="no-data">There is no student added yet!</p>

<div class="container" *ngIf="StudentData.length > 0">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> Label </th>
        <td mat-cell *matCellDef="let element"> {{element?.label}} </td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element?.brand}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element?.price}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Qyantity </th>
        <td mat-cell *matCellDef="let element"> {{element?.quantity}} </td>
      </ng-container>

     <ng-container matColumnDef="price_promo">
        <th mat-header-cell *matHeaderCellDef> Promotianal Price</th>
        <td mat-cell *matCellDef="let element"> {{element?.pricepromo}} </td>
      </ng-container>

      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef> Photo</th>
        <td mat-cell *matCellDef="let element">
           <img [src]="getUrl(element?.photo)" alt="photo" class="photo">
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="uploadPhoto(element?._id)">Upload Photo</button>
          <button  mat-button color="accent" [routerLink]="['/editproduct/', element._id]">Update Product</button>
          <button  mat-button color="warn">Delete</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
