<h4 class="postdata" style="text-align:center;"></h4>
    <div class="main-agileits">
        <h2 class="sub-head">Reset Password</h2>
        <div class="sub-main">
            <form method="post">
                <span class="senddata"></span><br><br>

                <input placeholder="Enter Password" name="password" class="password" type="password" required=""><br><br>

                <input placeholder="Confirm Password" name="confirmpassword" class="confirmpassword" type="password" required=""><br><br>

                <input type="submit" name ="submit" value="RESET PASSWORD">

            </form>
        </div>
    </div>
